.toast.toast-main {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  
  .toast {
    padding: 5px 15px;
    background: #000;
    color: white;
    border-radius: 5px;
    z-index: 999;
    .toast-message {
      margin: 5px 0;
    }
}