@import "config";

@mixin when($width) {
    @media screen and (max-width: $width) {
      @content;
    }
}

%font {
    font: 100 $font-size $font-family;
}

%icon {
    font-family: "Material Icons", sans-serif;
    display: inline-block;
    content: '';
}

%center-y {
    top: 50%;
    transform: translateY(-50%);
}

%trans2ms {
    transition-duration: .2s;
}

%no-wrap {
    white-space: nowrap;
}

.fit {
    width: 100%;
    box-sizing: border-box;
}


.float-left { float: left }
.float-right { float: right }

.icon {
    @extend %icon;
    font-size: 1.1em;
    line-height: 1.5em;
    vertical-align: -20%;
    &.margin {
        margin: 0 5px;
    }
    &.margin-left {
        margin-left: 10px;
    }
}

.no-padding {
    padding: 0 !important;
}

.nowrap {
    @extend %no-wrap
}

.disabled-text {
    color: #9d9d9d;
    font-size: .8em;
}

ul.list {
    li {
        padding: 8px 15px;
        cursor: pointer;
        @extend %trans2ms;
    }
    &.lined {
        li {
        border-bottom: 1px #f0f0f0 solid;
        &:last-child {
            border-bottom: 0;
        }
        &:hover {
            box-shadow: 0 1px 5px rgba(0,0,0,.2);
        }
        }
    }
}

ul.no-ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ltr {
    direction: ltr;
}

.small {
    font-size: .5em;
}

.icon-16 {
    width: 16px;
}

.no-margin {
    margin: 0 !important;
}

.currency {
    font-weight: 400;
    letter-spacing: 1.5px;
}

.clearfix {
    &:before {
        content: '';
        display: table;
        clear: both;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.upper-case {
    text-transform: uppercase;
}

.center-text {
    text-align: center;
}

.details-title {
    margin: 20px 25px;
    font-size: 25px;
    color: #9b9b9b;
}

%hide {
    display: none;
}

fieldset {
    border: 2px #d5d5d5 solid;
    border-radius: 5px;
    margin-bottom: 15px;
    legend {
        font-size: 1.3em;
        padding: 0 20px;
        font-weight: 600;
    }
}

.no-wrap {
    white-space: nowrap;
}

div.center {
    margin: 0 auto;
}